header {
  background: none;
  position: absolute;
  height: 15%;
  img {
    position: absolute;
    height: 80%;
    top: 10%;
  }
  .able-links{
    color: white;
  }
}

main {
  height: 100%;
  width: 100%;
  background-color: black;
}