.expanding-box {
  height: 60%;
  width: 70%;
  border: 1px solid white;
  position: absolute;
  left: 15%;
  top: 20%;
  /* animation: expand 3s linear 2s 1; */
  .screen {
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    .latest-news {
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        image-rendering: crisp-edges;
      }
      .news-announcement {
        position: absolute;
        top: 5%;
        left: 0;
        width: 100%;
        font-size: 35px;
        color: white;
        font-family: Stormfaze;
        text-align: center; 
        opacity: 0;
        animation: textDisappear 1s;
      }
    }
  }
  .screen:hover {
    cursor: pointer;
    .latest-news {
      .news-announcement {
        opacity: 1;
        position: absolute;
        animation: textAppear 1s;
      }
    }
  }
  .screen::after {
    content:'';
    display: block;
    position: absolute;
    left: 12%;
    bottom: 0px;
    width: 80%;
    max-width: 210px;
    height: 10px;
    background: transparent;
    border-radius: 100px/50px;
    box-shadow: 0 50px 40px rgba(0,0,0,0.5);
  }
}

@keyframes textAppear {
  0% {
    position: absolute;
    top: 0.5%;
    opacity: 0;
  }

  100% {
    position: absolute;
    top: 5%;
    opacity: 1;
  }
}

@keyframes textDisappear {
  0% {
    position: absolute;
    top: 5%;
    opacity: 1;
  }

  100% {
    position: absolute;
    top: 0.5%;
    opacity: 0;
  }
}